body{
    background-color: aquamarine;
    font-family: sans-serif;
    margin: 20px;
}
h1{
    color: bisque;
    text-align: center;
    font-style: italic;
}
p{
    font-size: 18px;
    line-height: 1.2;
    color: black;
}